* {
    margin: 0;
    box-sizing: border-box;
}

#map { 
    width: clamp(calc(100vw - 200px), 70vw, calc(100vw - 450px));
    position: absolute;
    height: 100vh;
    left:  clamp(200px, 30vw, 450px);
    top: 0;
    margin: 0;
    padding: 0;
}

/** add maybe a slider to drag between sidebar and map **/

#sidebar {
    background: #EEE;
    position: absolute;
    border-right: grey solid 2px;
    top: 0;
    left: 0;
    width: clamp(200px, 30vw, 450px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#directions-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
