@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

#map { 
    width: calc(100vw - clamp(150px, 30vw, 300px));
    position: absolute;
    height: 100vh;
    left: clamp(150px, 30vw, 300px);
    top: 0;
    margin: 0;
    padding: 0;
}

/** add maybe a slider to drag between sidebar and map **/

#sidebar {
    overflow-x: hidden;
    background: aliceblue;
    position: absolute;
    border-right: grey solid 2px;
    top: 0;
    left: 0;
    width: clamp(150px, 30vw, 300px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#directions-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: calc(100% - 20px);
    margin-top: 10vh;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px black;
    border-radius: 2px;
    box-shadow: 4px 4px black;
    background: white;
    color: black;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

#form-buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.form-button {
    width: clamp(70px, 40%, 2000px);
    height: 2rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    border: solid 1px black;
    cursor: pointer;
    padding: 2px;
    box-shadow: 2px 2px black;
    transition: all 0.2s ease;
}

.form-button:hover {
    box-shadow: none;
}

#directions-route {
    background: aliceblue;
}

#directions-reverse {
    background: #f66151;
}

#alt-options {
    width: 100%;
    background: white;
    color: black;
    border-top: solid 1px black;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -2px 8px rgb(202, 202, 202);
}

#choose-emergency {
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#choose-emergency-button {
    background: aliceblue;
}

#emergency-choice-title {
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
}

select {
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 2px;
    font-size: 1rem;
    margin: 2px;
    padding: 4px;
    padding-left: 6px;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
    cursor: pointer;
}

select:focus {
    outline: solid 2px skyblue;
}

#alt-routes-title {
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
    width: 100%;
    text-align: center;
}

#alternate-routes {
    height: 100%;
    padding: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
}

#no-alts {
    color: rgba(128, 128, 128, 0.767);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.212);
}

.alternate-route {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    border-radius: 2px;
    border: solid 2px black;
}

.alternate-route-button {
    margin-left: calc(70% - clamp(70px, 40%, 2000px));
}

.open {
    background-color: aquamarine;
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
}

.closed {
    background-color: #f66151;
    width: fit-content;
    padding: 2px;
    border-radius: 4px;
}

.direction-input {
    border: solid 2px black;
    border-radius: 3px;
    padding: 4px;
    width: 100%;
    height: 2rem;
    text-overflow: ellipsis;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.map-button {
    width: 34px;
    height: 34px;
    background: white;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: center;
    font-family: bold 'Lucida Console', Monaco, monospace;
    border: 2px solid rgba(0,0,0,0.2);
}

.map-button:hover {
    background-color: #f4f4f4;
}